<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>{{ message }}</h1>
    <ul>
      {{#with user}}
      <li>{{ mail }}</li>
      <li>{{ password }}</li>
            <li>{{ isActive }}</li>
      {{/with}}
    </ul>

  </body>
</html>
